.logo {
    width: 20vw;
    height: 13vw;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    margin: 10vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
    font-size: 1.8rem;
    text-align: center;
}

@media screen and (max-width: 1100px) {
    .title {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 1100px) {
    .title {
        font-size: 1.3rem;
    }
}

@media screen and (max-width: 700px) {
    .logo {
        width: 30vw;
        height: 20vw;
    }

    .title {
        font-size: 1rem;
    }
}